In [9]:
import pandas as pd
import numpy as np

filename = r"C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Analysis\Exercise_Files\3 Pandas\data\car_financing.csv"
df = pd.read_csv(filename)

In [19]:
df

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance,term,interest_rate,car_type
0,1,34689.96,687.23,202.93,484.30,34205.66,60,0.0702,Toyota Sienna
1,2,34205.66,687.23,200.10,487.13,33718.53,60,0.0702,Toyota Sienna
2,3,33718.53,687.23,197.25,489.98,33228.55,60,0.0702,Toyota Sienna
3,4,33228.55,687.23,194.38,492.85,32735.70,60,0.0702,Toyota Sienna
4,5,32735.70,687.23,191.50,495.73,32239.97,60,0.0702,Toyota Sienna
...,...,...,...,...,...,...,...,...,...
403,56,3951.11,796.01,9.54,786.47,3164.64,60,0.0290,VW Golf R
404,57,3164.64,796.01,7.64,788.37,2376.27,60,0.0290,VW Golf R
405,58,2376.27,796.01,5.74,790.27,1586.00,60,0.0290,VW Golf R
406,59,1586.00,796.01,3.83,792.18,793.82,60,0.0290,VW Golf R
407,60,793.82,796.01,1.91,794.10,-0.28,60,0.0290,VW Golf R

In [20]:
df.head()

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance,term,interest_rate,car_type
0,1,34689.96,687.23,202.93,484.30,34205.66,60,0.0702,Toyota Sienna
1,2,34205.66,687.23,200.10,487.13,33718.53,60,0.0702,Toyota Sienna
2,3,33718.53,687.23,197.25,489.98,33228.55,60,0.0702,Toyota Sienna
3,4,33228.55,687.23,194.38,492.85,32735.70,60,0.0702,Toyota Sienna
4,5,32735.70,687.23,191.50,495.73,32239.97,60,0.0702,Toyota Sienna

In [21]:
df.dtypes

Month                 int64
Starting Balance    float64
Repayment           float64
Interest Paid       float64
Principal Paid      float64
New Balance         float64
term                  int64
interest_rate       float64
car_type             object
dtype: object

In [16]:
df.shape

(408, 9)

In [21]:
df[['car_type','Principal Paid']]

          car_type  Principal Paid
0    Toyota Sienna          484.30
1    Toyota Sienna          487.13
2    Toyota Sienna          489.98
3    Toyota Sienna          492.85
4    Toyota Sienna          495.73
..             ...             ...
403      VW Golf R          786.47
404      VW Golf R          788.37
405      VW Golf R          790.27
406      VW Golf R          792.18
407      VW Golf R          794.10

[408 rows x 2 columns]

In [24]:
df['car_type'][0:10]

0    Toyota Sienna
1    Toyota Sienna
2    Toyota Sienna
3    Toyota Sienna
4    Toyota Sienna
5    Toyota Sienna
6    Toyota Sienna
7    Toyota Sienna
8    Toyota Sienna
9    Toyota Sienna
Name: car_type, dtype: object

In [25]:
df['car_type'].value_counts()

VW Golf R         144
Toyota Sienna     120
Toyota Carolla    111
Toyota Corolla     33
Name: car_type, dtype: int64

In [28]:
car_filter = df['car_type'] == 'Toyota Sienna'
df.loc[car_filter,:]

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance,term,interest_rate,car_type
0,1,34689.96,687.23,202.93,484.30,34205.66,60,0.0702,Toyota Sienna
1,2,34205.66,687.23,200.10,487.13,33718.53,60,0.0702,Toyota Sienna
2,3,33718.53,687.23,197.25,489.98,33228.55,60,0.0702,Toyota Sienna
3,4,33228.55,687.23,194.38,492.85,32735.70,60,0.0702,Toyota Sienna
4,5,32735.70,687.23,191.50,495.73,32239.97,60,0.0702,Toyota Sienna
...,...,...,...,...,...,...,...,...,...
115,56,3133.83,632.47,9.37,623.10,2510.73,60,0.0359,Toyota Sienna
116,57,2510.73,632.47,7.51,624.96,1885.77,60,0.0359,Toyota Sienna
117,58,1885.77,632.47,5.64,626.83,1258.94,60,0.0359,Toyota Sienna
118,59,1258.94,632.47,3.76,628.71,630.23,60,0.0359,Toyota Sienna
119,60,630.23,632.47,1.88,630.59,-0.36,60,0.0359,Toyota Sienna

In [29]:
df = df.loc[car_filter,:]

In [30]:
df['car_type'].value_counts()

Toyota Sienna    120
Name: car_type, dtype: int64

In [31]:
df['interest_rate'].value_counts()

0.0702    60
0.0359    60
Name: interest_rate, dtype: int64

In [34]:
interest_filter = df['interest_rate'] == 0.0702
df.loc[interest_filter,:]

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance,term,interest_rate,car_type
0,1,34689.96,687.23,202.93,484.30,34205.66,60,0.0702,Toyota Sienna
1,2,34205.66,687.23,200.10,487.13,33718.53,60,0.0702,Toyota Sienna
2,3,33718.53,687.23,197.25,489.98,33228.55,60,0.0702,Toyota Sienna
3,4,33228.55,687.23,194.38,492.85,32735.70,60,0.0702,Toyota Sienna
4,5,32735.70,687.23,191.50,495.73,32239.97,60,0.0702,Toyota Sienna
5,6,32239.97,687.23,188.60,498.63,31741.34,60,0.0702,Toyota Sienna
6,7,31741.34,687.23,185.68,501.55,31239.79,60,0.0702,Toyota Sienna
7,8,31239.79,687.23,182.75,504.48,30735.31,60,0.0702,Toyota Sienna
8,9,30735.31,687.23,179.80,507.43,30227.88,60,0.0702,Toyota Sienna
9,10,30227.88,687.23,176.83,510.40,29717.48,60,0.0702,Toyota Sienna
10,11,29717.48,687.23,173.84,513.39,29204.09,60,0.0702,Toyota Sienna
11,12,29204.09,687.23,170.84,516.39,28687.70,60,0.0702,Toyota Sienna
12,13,28687.70,687.23,167.82,519.41,28168.29,60,0.0702,Toyota Sienna
13,14,28168.29,687.23,164.78,522.45,27645.84,60,0.0702,Toyota Sienna
14,15,27645.84,687.23,161.72,525.51,27120.33,60,0.0702,Toyota Sienna
15,16,27120.33,687.23,158.65,528.58,26591.75,60,0.0702,Toyota Sienna
16,17,26591.75,687.23,155.56,531.67,26060.08,60,0.0702,Toyota Sienna
17,18,26060.08,687.23,152.45,534.78,25525.30,60,0.0702,Toyota Sienna
18,19,25525.30,687.23,149.32,537.91,24987.39,60,0.0702,Toyota Sienna
19,20,24987.39,687.23,146.17,541.06,24446.33,60,0.0702,Toyota Sienna
20,21,24446.33,687.23,143.01,544.22,23902.11,60,0.0702,Toyota Sienna
21,22,23902.11,687.23,139.82,547.41,23354.70,60,0.0702,Toyota Sienna
22,23,23354.70,687.23,136.62,550.61,22804.09,60,0.0702,Toyota Sienna
23,24,22804.09,687.23,133.40,553.83,22250.26,60,0.0702,Toyota Sienna
24,25,22250.26,687.23,130.16,557.07,21693.19,60,0.0702,Toyota Sienna
25,26,21693.19,687.23,126.90,560.33,21132.86,60,0.0702,Toyota Sienna
26,27,21132.86,687.23,123.62,563.61,20569.25,60,0.0702,Toyota Sienna
27,28,20569.25,687.23,120.33,566.90,20002.35,60,0.0702,Toyota Sienna
28,29,20002.35,687.23,117.01,570.22,19432.13,60,0.0702,Toyota Sienna
29,30,19432.13,687.23,113.67,573.56,18858.57,60,0.0702,Toyota Sienna
30,31,18858.57,687.23,110.32,576.91,18281.66,60,0.0702,Toyota Sienna
31,32,18281.66,687.23,106.94,580.29,17701.37,60,0.0702,Toyota Sienna
32,33,17701.37,687.23,103.55,583.68,17117.69,60,0.0702,Toyota Sienna
33,34,17117.69,687.23,100.13,587.10,16530.59,60,0.0702,Toyota Sienna
34,35,16530.59,687.23,96.70,590.53,15940.06,60,0.0702,Toyota Sienna
35,36,15940.06,687.23,93.24,593.99,15346.07,60,0.0702,Toyota Sienna
36,37,15346.07,687.23,89.77,597.46,14748.61,60,0.0702,Toyota Sienna
37,38,14748.61,687.23,86.27,600.96,14147.65,60,0.0702,Toyota Sienna
38,39,14147.65,687.23,82.76,604.47,13543.18,60,0.0702,Toyota Sienna
39,40,13543.18,687.23,79.22,608.01,12935.17,60,0.0702,Toyota Sienna
40,41,12935.17,687.23,75.67,611.56,12323.61,60,0.0702,Toyota Sienna
41,42,12323.61,687.23,72.09,615.14,11708.47,60,0.0702,Toyota Sienna
42,43,11708.47,687.23,68.49,618.74,11089.73,60,0.0702,Toyota Sienna
43,44,11089.73,687.23,64.87,622.36,10467.37,60,0.0702,Toyota Sienna
44,45,10467.37,687.23,61.23,626.00,9841.37,60,0.0702,Toyota Sienna
45,46,9841.37,687.23,57.57,629.66,9211.71,60,0.0702,Toyota Sienna
46,47,9211.71,687.23,53.88,633.35,8578.36,60,0.0702,Toyota Sienna
47,48,8578.36,687.23,50.18,637.05,7941.31,60,0.0702,Toyota Sienna
48,49,7941.31,687.23,46.45,640.78,7300.53,60,0.0702,Toyota Sienna
49,50,7300.53,687.23,42.70,644.53,6656.00,60,0.0702,Toyota Sienna
50,51,6656.00,687.23,38.93,648.30,6007.70,60,0.0702,Toyota Sienna
51,52,6007.70,687.23,35.14,652.09,5355.61,60,0.0702,Toyota Sienna
52,53,5355.61,687.23,31.33,655.90,4699.71,60,0.0702,Toyota Sienna
53,54,4699.71,687.23,27.49,659.74,4039.97,60,0.0702,Toyota Sienna
54,55,4039.97,687.23,23.63,663.60,3376.37,60,0.0702,Toyota Sienna
55,56,3376.37,687.23,19.75,667.48,2708.89,60,0.0702,Toyota Sienna
56,57,2708.89,687.23,15.84,671.39,2037.50,60,0.0702,Toyota Sienna
57,58,2037.50,687.23,11.91,675.32,1362.18,60,0.0702,Toyota Sienna
58,59,1362.18,687.23,7.96,679.27,682.91,60,0.0702,Toyota Sienna
59,60,682.91,687.23,3.99,683.24,-0.33,60,0.0702,Toyota Sienna

In [37]:
df.loc[car_filter & interest_filter,:]

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance,term,interest_rate,car_type
0,1,34689.96,687.23,202.93,484.30,34205.66,60,0.0702,Toyota Sienna
1,2,34205.66,687.23,200.10,487.13,33718.53,60,0.0702,Toyota Sienna
2,3,33718.53,687.23,197.25,489.98,33228.55,60,0.0702,Toyota Sienna
3,4,33228.55,687.23,194.38,492.85,32735.70,60,0.0702,Toyota Sienna
4,5,32735.70,687.23,191.50,495.73,32239.97,60,0.0702,Toyota Sienna
5,6,32239.97,687.23,188.60,498.63,31741.34,60,0.0702,Toyota Sienna
6,7,31741.34,687.23,185.68,501.55,31239.79,60,0.0702,Toyota Sienna
7,8,31239.79,687.23,182.75,504.48,30735.31,60,0.0702,Toyota Sienna
8,9,30735.31,687.23,179.80,507.43,30227.88,60,0.0702,Toyota Sienna
9,10,30227.88,687.23,176.83,510.40,29717.48,60,0.0702,Toyota Sienna
10,11,29717.48,687.23,173.84,513.39,29204.09,60,0.0702,Toyota Sienna
11,12,29204.09,687.23,170.84,516.39,28687.70,60,0.0702,Toyota Sienna
12,13,28687.70,687.23,167.82,519.41,28168.29,60,0.0702,Toyota Sienna
13,14,28168.29,687.23,164.78,522.45,27645.84,60,0.0702,Toyota Sienna
14,15,27645.84,687.23,161.72,525.51,27120.33,60,0.0702,Toyota Sienna
15,16,27120.33,687.23,158.65,528.58,26591.75,60,0.0702,Toyota Sienna
16,17,26591.75,687.23,155.56,531.67,26060.08,60,0.0702,Toyota Sienna
17,18,26060.08,687.23,152.45,534.78,25525.30,60,0.0702,Toyota Sienna
18,19,25525.30,687.23,149.32,537.91,24987.39,60,0.0702,Toyota Sienna
19,20,24987.39,687.23,146.17,541.06,24446.33,60,0.0702,Toyota Sienna
20,21,24446.33,687.23,143.01,544.22,23902.11,60,0.0702,Toyota Sienna
21,22,23902.11,687.23,139.82,547.41,23354.70,60,0.0702,Toyota Sienna
22,23,23354.70,687.23,136.62,550.61,22804.09,60,0.0702,Toyota Sienna
23,24,22804.09,687.23,133.40,553.83,22250.26,60,0.0702,Toyota Sienna
24,25,22250.26,687.23,130.16,557.07,21693.19,60,0.0702,Toyota Sienna
25,26,21693.19,687.23,126.90,560.33,21132.86,60,0.0702,Toyota Sienna
26,27,21132.86,687.23,123.62,563.61,20569.25,60,0.0702,Toyota Sienna
27,28,20569.25,687.23,120.33,566.90,20002.35,60,0.0702,Toyota Sienna
28,29,20002.35,687.23,117.01,570.22,19432.13,60,0.0702,Toyota Sienna
29,30,19432.13,687.23,113.67,573.56,18858.57,60,0.0702,Toyota Sienna
30,31,18858.57,687.23,110.32,576.91,18281.66,60,0.0702,Toyota Sienna
31,32,18281.66,687.23,106.94,580.29,17701.37,60,0.0702,Toyota Sienna
32,33,17701.37,687.23,103.55,583.68,17117.69,60,0.0702,Toyota Sienna
33,34,17117.69,687.23,100.13,587.10,16530.59,60,0.0702,Toyota Sienna
34,35,16530.59,687.23,96.70,590.53,15940.06,60,0.0702,Toyota Sienna
35,36,15940.06,687.23,93.24,593.99,15346.07,60,0.0702,Toyota Sienna
36,37,15346.07,687.23,89.77,597.46,14748.61,60,0.0702,Toyota Sienna
37,38,14748.61,687.23,86.27,600.96,14147.65,60,0.0702,Toyota Sienna
38,39,14147.65,687.23,82.76,604.47,13543.18,60,0.0702,Toyota Sienna
39,40,13543.18,687.23,79.22,608.01,12935.17,60,0.0702,Toyota Sienna
40,41,12935.17,687.23,75.67,611.56,12323.61,60,0.0702,Toyota Sienna
41,42,12323.61,687.23,72.09,615.14,11708.47,60,0.0702,Toyota Sienna
42,43,11708.47,687.23,68.49,618.74,11089.73,60,0.0702,Toyota Sienna
43,44,11089.73,687.23,64.87,622.36,10467.37,60,0.0702,Toyota Sienna
44,45,10467.37,687.23,61.23,626.00,9841.37,60,0.0702,Toyota Sienna
45,46,9841.37,687.23,57.57,629.66,9211.71,60,0.0702,Toyota Sienna
46,47,9211.71,687.23,53.88,633.35,8578.36,60,0.0702,Toyota Sienna
47,48,8578.36,687.23,50.18,637.05,7941.31,60,0.0702,Toyota Sienna
48,49,7941.31,687.23,46.45,640.78,7300.53,60,0.0702,Toyota Sienna
49,50,7300.53,687.23,42.70,644.53,6656.00,60,0.0702,Toyota Sienna
50,51,6656.00,687.23,38.93,648.30,6007.70,60,0.0702,Toyota Sienna
51,52,6007.70,687.23,35.14,652.09,5355.61,60,0.0702,Toyota Sienna
52,53,5355.61,687.23,31.33,655.90,4699.71,60,0.0702,Toyota Sienna
53,54,4699.71,687.23,27.49,659.74,4039.97,60,0.0702,Toyota Sienna
54,55,4039.97,687.23,23.63,663.60,3376.37,60,0.0702,Toyota Sienna
55,56,3376.37,687.23,19.75,667.48,2708.89,60,0.0702,Toyota Sienna
56,57,2708.89,687.23,15.84,671.39,2037.50,60,0.0702,Toyota Sienna
57,58,2037.50,687.23,11.91,675.32,1362.18,60,0.0702,Toyota Sienna
58,59,1362.18,687.23,7.96,679.27,682.91,60,0.0702,Toyota Sienna
59,60,682.91,687.23,3.99,683.24,-0.33,60,0.0702,Toyota Sienna

In [41]:
df = pd.read_csv(filename)
df['Principal Paid']

0      484.30
1      487.13
2      489.98
3      492.85
4      495.73
        ...
403    786.47
404    788.37
405    790.27
406    792.18
407    794.10
Name: Principal Paid, Length: 408, dtype: float64

In [46]:
df = df.rename(columns = {'Starting Balance' : 'starting_balance',
                        'Interested Paid' : 'interested_paid',
                        'Principal Paid' : 'principal_paid',
                        'New Balance' : 'new_balance'})

In [47]:
df.head()

,Month,starting_balance,Repayment,Interest Paid,principal_paid,new_balance,term,interest_rate,car_type
0,1,34689.96,687.23,202.93,484.30,34205.66,60,0.0702,Toyota Sienna
1,2,34205.66,687.23,200.10,487.13,33718.53,60,0.0702,Toyota Sienna
2,3,33718.53,687.23,197.25,489.98,33228.55,60,0.0702,Toyota Sienna
3,4,33228.55,687.23,194.38,492.85,32735.70,60,0.0702,Toyota Sienna
4,5,32735.70,687.23,191.50,495.73,32239.97,60,0.0702,Toyota Sienna

In [48]:
del df["Repayment"]

In [49]:
df.head()

,Month,starting_balance,Interest Paid,principal_paid,new_balance,term,interest_rate,car_type
0,1,34689.96,202.93,484.30,34205.66,60,0.0702,Toyota Sienna
1,2,34205.66,200.10,487.13,33718.53,60,0.0702,Toyota Sienna
2,3,33718.53,197.25,489.98,33228.55,60,0.0702,Toyota Sienna
3,4,33228.55,194.38,492.85,32735.70,60,0.0702,Toyota Sienna
4,5,32735.70,191.50,495.73,32239.97,60,0.0702,Toyota Sienna

In [54]:
df = pd.read_csv(filename)
df['Interest Paid'].sum()

23139.77

In [55]:
df.sum()

Month                                                           11004
Starting Balance                                          7.16565e+06
Repayment                                                      290551
Interest Paid                                                 23139.8
Principal Paid                                                 267411
New Balance                                               6.89824e+06
term                                                            21600
interest_rate                                                  16.158
car_type            Toyota SiennaToyota SiennaToyota SiennaToyota ...
dtype: object

In [56]:
help(df['Interest Paid'].sum())

Help on float64 object:

class float64(floating, builtins.float)
 |  float64(x=0, /)
 |
 |  Double-precision floating-point number type, compatible with Python `float`
 |  and C ``double``.
 |  Character code: ``'d'``.
 |  Canonical name: ``np.double``.
 |  Alias: ``np.float_``.
 |  Alias *on this platform*: ``np.float64``: 64-bit precision floating-point number type: sign bit, 11 bits exponent, 52 bits mantissa.
 |
 |  Method resolution order:
 |      float64
 |      floating
 |      inexact
 |      number
 |      generic
 |      builtins.float
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  as_integer_ratio(...)
 |      double.as_integer_ratio() -> (int, int)
 |
 |      Return a pair of integers, whose ratio is exactly equal to the original
 |      floating point number, and with a positive denominator.
 |      Raise OverflowError on infinities and a ValueError on NaNs.
 |
 |      >>> np.double(10.0).as_integer_ratio()
 |      (10, 1)
 |      >>> np.double(0.0).as_integer_ratio()
 |      (0, 1)
 |      >>> np.double(-.25).as_integer_ratio()
 |      (-1, 4)
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from floating:
 |
 |  __round__(...)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from generic:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __array__(...)
 |      sc.__array__(dtype) return 0-dim array from scalar with specified dtype
 |
 |  __array_wrap__(...)
 |      sc.__array_wrap__(obj) return scalar from array
 |
 |  __copy__(...)
 |
 |  __deepcopy__(...)
 |
 |  __format__(...)
 |      NumPy array scalar formatter
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __setstate__(...)
 |
 |  __sizeof__(...)
 |      Size of object in memory, in bytes.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  all(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  any(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  argmax(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  argmin(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  argsort(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  astype(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  byteswap(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class so as to
 |      provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  choose(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  clip(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  compress(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  conj(...)
 |
 |  conjugate(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  copy(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  cumprod(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  cumsum(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  diagonal(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  dump(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  dumps(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  fill(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  flatten(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  getfield(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  item(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  itemset(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  max(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  mean(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  min(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  newbyteorder(...)
 |      newbyteorder(new_order='S')
 |
 |      Return a new `dtype` with a different byte order.
 |
 |      Changes are also made in all fields and sub-arrays of the data type.
 |
 |      The `new_order` code can be any from the following:
 |
 |      * 'S' - swap dtype from current to opposite endian
 |      * {'<', 'L'} - little endian
 |      * {'>', 'B'} - big endian
 |      * {'=', 'N'} - native order
 |      * {'|', 'I'} - ignore (no change to byte order)
 |
 |      Parameters
 |      ----------
 |      new_order : str, optional
 |          Byte order to force; a value from the byte order specifications
 |          above.  The default value ('S') results in swapping the current
 |          byte order. The code does a case-insensitive check on the first
 |          letter of `new_order` for the alternatives above.  For example,
 |          any of 'B' or 'b' or 'biggish' are valid to specify big-endian.
 |
 |
 |      Returns
 |      -------
 |      new_dtype : dtype
 |          New `dtype` object with the given change to the byte order.
 |
 |  nonzero(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  prod(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  ptp(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  put(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  ravel(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  repeat(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  reshape(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  resize(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  round(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  searchsorted(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  setfield(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  setflags(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class so as to
 |      provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  sort(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  squeeze(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  std(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  sum(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  swapaxes(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,
 |      albeit unimplemented, all the attributes of the ndarray class
 |      so as to provide a uniform API.
 |
 |      See also the corresponding attribute of the derived class of interest.
 |
 |  take(...)
 |      Not implemented (virtual attribute)
 |
 |      Class generic exists solely to derive numpy scalars from, and possesses,

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Month             408 non-null    int64
 1   Starting Balance  408 non-null    float64
 2   Repayment         408 non-null    float64
 3   Interest Paid     408 non-null    float64
 4   Principal Paid    408 non-null    float64
 5   New Balance       408 non-null    float64
 6   term              408 non-null    int64
 7   interest_rate     408 non-null    float64
 8   car_type          408 non-null    object
dtypes: float64(6), int64(2), object(1)
memory usage: 28.8+ KB

In [59]:
df.to_numpy()

array([[1, 34689.96, 687.23, ..., 60, 0.0702, 'Toyota Sienna'],
       [2, 34205.66, 687.23, ..., 60, 0.0702, 'Toyota Sienna'],
       [3, 33718.53, 687.23, ..., 60, 0.0702, 'Toyota Sienna'],
       ...,
       [58, 2376.27, 796.01, ..., 60, 0.028999999999999998, 'VW Golf R'],
       [59, 1586.0, 796.01, ..., 60, 0.028999999999999998, 'VW Golf R'],
       [60, 793.82, 796.01, ..., 60, 0.028999999999999998, 'VW Golf R']],
      dtype=object)

In [62]:
df.to_dict()

{'Month': {0: 1,
  1: 2,
  2: 3,
  3: 4,
  4: 5,
  5: 6,
  6: 7,
  7: 8,
  8: 9,
  9: 10,
  10: 11,
  11: 12,
  12: 13,
  13: 14,
  14: 15,
  15: 16,
  16: 17,
  17: 18,
  18: 19,
  19: 20,
  20: 21,
  21: 22,
  22: 23,
  23: 24,
  24: 25,
  25: 26,
  26: 27,
  27: 28,
  28: 29,
  29: 30,
  30: 31,
  31: 32,
  32: 33,
  33: 34,
  34: 35,
  35: 36,
  36: 37,
  37: 38,
  38: 39,
  39: 40,
  40: 41,
  41: 42,
  42: 43,
  43: 44,
  44: 45,
  45: 46,
  46: 47,
  47: 48,
  48: 49,
  49: 50,
  50: 51,
  51: 52,
  52: 53,
  53: 54,
  54: 55,
  55: 56,
  56: 57,
  57: 58,
  58: 59,
  59: 60,
  60: 1,
  61: 2,
  62: 3,
  63: 4,
  64: 5,
  65: 6,
  66: 7,
  67: 8,
  68: 9,
  69: 10,
  70: 11,
  71: 12,
  72: 13,
  73: 14,
  74: 15,
  75: 16,
  76: 17,
  77: 18,
  78: 19,
  79: 20,
  80: 21,
  81: 22,
  82: 23,
  83: 24,
  84: 25,
  85: 26,
  86: 27,
  87: 28,
  88: 29,
  89: 30,
  90: 31,
  91: 32,
  92: 33,
  93: 34,
  94: 35,
  95: 36,
  96: 37,
  97: 38,
  98: 39,
  99: 40,
  100: 41,
  101: 42,
  102: 43,
  103: 44,
  104: 45,
  105: 46,
  106: 47,
  107: 48,
  108: 49,
  109: 50,
  110: 51,
  111: 52,
  112: 53,
  113: 54,
  114: 55,
  115: 56,
  116: 57,
  117: 58,
  118: 59,
  119: 60,
  120: 1,
  121: 2,
  122: 3,
  123: 4,
  124: 5,
  125: 6,
  126: 7,
  127: 8,
  128: 9,
  129: 10,
  130: 11,
  131: 12,
  132: 13,
  133: 14,
  134: 15,
  135: 16,
  136: 17,
  137: 18,
  138: 19,
  139: 20,
  140: 21,
  141: 22,
  142: 23,
  143: 24,
  144: 25,
  145: 26,
  146: 27,
  147: 28,
  148: 29,
  149: 30,
  150: 31,
  151: 32,
  152: 33,
  153: 34,
  154: 35,
  155: 36,
  156: 1,
  157: 2,
  158: 3,
  159: 4,
  160: 5,
  161: 6,
  162: 7,
  163: 8,
  164: 9,
  165: 10,
  166: 11,
  167: 12,
  168: 13,
  169: 14,
  170: 15,
  171: 16,
  172: 17,
  173: 18,
  174: 19,
  175: 20,
  176: 21,
  177: 22,
  178: 23,
  179: 24,
  180: 25,
  181: 26,
  182: 27,
  183: 28,
  184: 29,
  185: 30,
  186: 31,
  187: 32,
  188: 33,
  189: 34,
  190: 35,
  191: 36,
  192: 37,
  193: 38,
  194: 39,
  195: 40,
  196: 41,
  197: 42,
  198: 43,
  199: 44,
  200: 45,
  201: 46,
  202: 47,
  203: 48,
  204: 1,
  205: 2,
  206: 3,
  207: 4,
  208: 5,
  209: 6,
  210: 7,
  211: 8,
  212: 9,
  213: 10,
  214: 11,
  215: 12,
  216: 13,
  217: 14,
  218: 15,
  219: 16,
  220: 17,
  221: 18,
  222: 19,
  223: 20,
  224: 21,
  225: 22,
  226: 23,
  227: 24,
  228: 25,
  229: 26,
  230: 27,
  231: 28,
  232: 29,
  233: 30,
  234: 31,
  235: 32,
  236: 33,
  237: 34,
  238: 35,
  239: 36,
  240: 37,
  241: 38,
  242: 39,
  243: 40,
  244: 41,
  245: 42,
  246: 43,
  247: 44,
  248: 45,
  249: 46,
  250: 47,
  251: 48,
  252: 49,
  253: 50,
  254: 51,
  255: 52,
  256: 53,
  257: 54,
  258: 55,
  259: 56,
  260: 57,
  261: 58,
  262: 59,
  263: 60,
  264: 1,
  265: 2,
  266: 3,
  267: 4,
  268: 5,
  269: 6,
  270: 7,
  271: 8,
  272: 9,
  273: 10,
  274: 11,
  275: 12,
  276: 13,
  277: 14,
  278: 15,
  279: 16,
  280: 17,
  281: 18,
  282: 19,
  283: 20,
  284: 21,
  285: 22,
  286: 23,
  287: 24,
  288: 25,
  289: 26,
  290: 27,
  291: 28,
  292: 29,
  293: 30,
  294: 31,
  295: 32,
  296: 33,
  297: 34,
  298: 35,
  299: 36,
  300: 1,
  301: 2,
  302: 3,
  303: 4,
  304: 5,
  305: 6,
  306: 7,
  307: 8,
  308: 9,
  309: 10,
  310: 11,
  311: 12,
  312: 13,
  313: 14,
  314: 15,
  315: 16,
  316: 17,
  317: 18,
  318: 19,
  319: 20,
  320: 21,
  321: 22,
  322: 23,
  323: 24,
  324: 25,
  325: 26,
  326: 27,
  327: 28,
  328: 29,
  329: 30,
  330: 31,
  331: 32,
  332: 33,
  333: 34,
  334: 35,
  335: 36,
  336: 37,
  337: 38,
  338: 39,
  339: 40,
  340: 41,
  341: 42,
  342: 43,
  343: 44,
  344: 45,
  345: 46,
  346: 47,
  347: 48,
  348: 1,
  349: 2,
  350: 3,
  351: 4,
  352: 5,
  353: 6,
  354: 7,
  355: 8,
  356: 9,
  357: 10,
  358: 11,
  359: 12,
  360: 13,
  361: 14,
  362: 15,
  363: 16,
  364: 17,
  365: 18,
  366: 19,
  367: 20,
  368: 21,
  369: 22,
  370: 23,
  371: 24,
  372: 25,
  373: 26,
  374: 27,
  375: 28,
  376: 29,
  377: 30,
  378: 31,
  379: 32,
  380: 33,
  381: 34,
  382: 35,
  383: 36,
  384: 37,
  385: 38,
  386: 39,
  387: 40,
  388: 41,
  389: 42,
  390: 43,
  391: 44,
  392: 45,
  393: 46,
  394: 47,
  395: 48,
  396: 49,
  397: 50,
  398: 51,
  399: 52,
  400: 53,
  401: 54,
  402: 55,
  403: 56,
  404: 57,
  405: 58,
  406: 59,
  407: 60},
 'Starting Balance': {0: 34689.96,
  1: 34205.66,
  2: 33718.53,
  3: 33228.55,
  4: 32735.7,
  5: 32239.97,
  6: 31741.34,
  7: 31239.79,
  8: 30735.31,
  9: 30227.88,
  10: 29717.48,
  11: 29204.09,
  12: 28687.7,
  13: 28168.29,
  14: 27645.84,
  15: 27120.33,
  16: 26591.75,
  17: 26060.08,
  18: 25525.3,
  19: 24987.39,
  20: 24446.33,
  21: 23902.11,
  22: 23354.7,
  23: 22804.09,
  24: 22250.26,
  25: 21693.19,
  26: 21132.86,
  27: 20569.25,
  28: 20002.35,
  29: 19432.13,
  30: 18858.57,
  31: 18281.66,
  32: 17701.37,
  33: 17117.69,
  34: 16530.59,
  35: 15940.06,
  36: 15346.07,
  37: 14748.61,
  38: 14147.65,
  39: 13543.18,
  40: 12935.17,
  41: 12323.61,
  42: 11708.47,
  43: 11089.73,
  44: 10467.37,
  45: 9841.37,
  46: 9211.71,
  47: 8578.36,
  48: 7941.31,
  49: 7300.53,
  50: 6656.0,
  51: 6007.7,
  52: 5355.61,
  53: 4699.71,
  54: 4039.97,
  55: 3376.37,
  56: 2708.89,
  57: 2037.5,
  58: 1362.18,
  59: 682.91,
  60: 34689.96,
  61: 34161.27,
  62: 33630.99,
  63: 33099.13,
  64: 32565.68,
  65: 32030.63,
  66: 31493.98,
  67: 30955.72,
  68: 30415.85,
  69: 29874.37,
  70: 29331.27,
  71: 28786.54,
  72: 28240.18,
  73: 27692.19,
  74: 27142.56,
  75: 26591.29,
  76: 26038.37,
  77: 25483.79,
  78: 24927.55,
  79: 24369.65,
  80: 23810.08,
  81: 23248.84,
  82: 22685.92,
  83: 22121.31,
  84: 21555.01,
  85: 20987.02,
  86: 20417.33,
  87: 19845.94,
  88: 19272.84,
  89: 18698.02,
  90: 18121.48,
  91: 17543.22,
  92: 16963.23,
  93: 16381.5,
  94: 15798.03,
  95: 15212.82,
  96: 14625.86,
  97: 14037.14,
  98: 13446.66,
  99: 12854.41,
  100: 12260.39,
  101: 11664.59,
  102: 11067.01,
  103: 10467.64,
  104: 9866.48,
  105: 9263.52,
  106: 8658.76,
  107: 8052.19,
  108: 7443.8,
  109: 6833.59,
  110: 6221.56,
  111: 5607.7,
  112: 4992.0,
  113: 4374.46,
  114: 3755.07,
  115: 3133.83,
  116: 2510.73,
  117: 1885.77,
  118: 1258.94,
  119: 630.23,
  120: 21600.0,
  121: 21033.44,
  122: 20465.03,
  123: 19894.78,
  124: 19322.67,
  125: 18748.7,
  126: 18172.87,
  127: 17595.17,
  128: 17015.59,
  129: 16434.13,
  130: 15850.78,
  131: 15265.53,
  132: 14678.38,
  133: 14089.32,
  134: 13498.35,
  135: 12905.45,
  136: 12310.63,
  137: 11713.87,
  138: 11115.18,
  139: 10514.54,
  140: 9911.95,
  141: 9307.4,
  142: 8700.88,
  143: 8092.39,
  144: 7481.93,
  145: 6869.48,
  146: 6255.04,
  147: 5638.6,
  148: 5020.16,
  149: 4399.71,
  150: 3777.24,
  151: 3152.75,
  152: 2526.23,
  153: 1897.68,
  154: 1267.08,
  155: 634.43,
  156: 21600.0,
  157: 21183.46,
  158: 20765.56,
  159: 20346.3,
  160: 19925.68,
  161: 19503.69,
  162: 19080.33,
  163: 18655.6,
  164: 18229.49,
  165: 17801.99,
  166: 17373.1,
  167: 16942.82,
  168: 16511.14,
  169: 16078.06,
  170: 15643.57,
  171: 15207.67,
  172: 14770.35,
  173: 14331.61,
  174: 13891.44,
  175: 13449.84,
  176: 13006.81,
  177: 12562.34,
  178: 12116.42,
  179: 11669.05,
  180: 11220.23,
  181: 10769.95,
  182: 10318.21,
  183: 9865.0,
  184: 9410.32,
  185: 8954.16,
  186: 8496.52,
  187: 8037.39,
  188: 7576.77,
  189: 7114.65,
  190: 6651.03,
  191: 6185.9,
  192: 5719.26,
  193: 5251.1,
  194: 4781.42,
  195: 4310.21,
  196: 3837.47,
  197: 3363.2,
  198: 2887.39,
  199: 2410.03,
  200: 1931.12,
  201: 1450.65,
  202: 968.62,
  203: 485.02,
  204: 21600.0,
  205: 21273.38,
  206: 20945.69,
  207: 20616.94,
  208: 20287.12,
  209: 19956.23,
  210: 19624.26,
  211: 19291.21,
  212: 18957.08,
  213: 18621.87,
  214: 18285.57,
  215: 17948.17,
  216: 17609.68,
  217: 17270.09,
  218: 16929.39,
  219: 16587.59,
  220: 16244.67,
  221: 15900.64,
  222: 15555.49,
  223: 15209.22,
  224: 14861.82,
  225: 14513.3,
  226: 14163.64,
  227: 13812.85,
  228: 13460.92,
  229: 13107.84,
  230: 12753.62,
  231: 12398.24,
  232: 12041.71,
  233: 11684.02,
  234: 11325.17,
  235: 10965.15,
  236: 10603.96,
  237: 10241.6,
  238: 9878.06,
  239: 9513.34,
  240: 9147.43,
  241: 8780.33,
  242: 8412.04,
  243: 8042.55,
  244: 7671.86,
  245: 7299.97,
  246: 6926.87,
  247: 6552.56,
  248: 6177.03,
  249: 5800.28,
  250: 5422.31,
  251: 5043.11,
  252: 4662.68,
  253: 4281.01,
  254: 3898.1,
  255: 3513.94,
  256: 3128.54,
  257: 2741.88,
  258: 2353.97,
  259: 1964.8,
  260: 1574.36,
  261: 1182.65,
  262: 789.67,
  263: 395.41,
  264: 44409.6,
  265: 43227.39,
  266: 42042.32,
  267: 40854.39,
  268: 39663.59,
  269: 38469.91,
  270: 37273.34,
  271: 36073.88,
  272: 34871.52,
  273: 33666.26,
  274: 32458.09,
  275: 31247.0,
  276: 30032.98,
  277: 28816.02,
  278: 27596.12,
  279: 26373.28,
  280: 25147.48,
  281: 23918.72,
  282: 22686.99,
  283: 21452.28,
  284: 20214.59,
  285: 18973.91,
  286: 17730.23,
  287: 16483.54,
  288: 15233.84,
  289: 13981.12,
  290: 12725.37,
  291: 11466.59,
  292: 10204.77,
  293: 8939.9,
  294: 7671.97,
  295: 6400.98,
  296: 5126.91,
  297: 3849.77,
  298: 2569.54,
  299: 1286.21,
  300: 44409.6,
  301: 43535.9,
  302: 42660.09,
  303: 41782.16,
  304: 40902.11,
  305: 40019.93,
  306: 39135.62,
  307: 38249.17,
  308: 37360.58,
  309: 36469.84,
  310: 35576.95,
  311: 34681.9,
  312: 33784.69,
  313: 32885.31,
  314: 31983.76,
  315: 31080.03,
  316: 30174.12,
  317: 29266.02,
  318: 28355.72,
  319: 27443.22,
  320: 26528.52,
  321: 25611.61,
  322: 24692.48,
  323: 23771.13,
  324: 22847.55,
  325: 21921.74,
  326: 20993.69,
  327: 20063.4,
  328: 19130.86,
  329: 18196.07,
  330: 17259.02,
  331: 16319.7,
  332: 15378.11,
  333: 14434.25,
  334: 13488.11,
  335: 12539.68,
  336: 11588.96,
  337: 10635.94,
  338: 9680.62,
  339: 8722.99,
  340: 7763.05,
  341: 6800.79,
  342: 5836.2,
  343: 4869.28,
  344: 3900.02,
  345: 2928.42,
  346: 1954.47,
  347: 978.17,
  348: 44409.6,
  349: 43720.91,
  350: 43030.55,
  351: 42338.53,
  352: 41644.83,
  353: 40949.46,
  354: 40252.41,
  355: 39553.67,
  356: 38853.24,
  357: 38151.12,
  358: 37447.3,
  359: 36741.78,
  360: 36034.56,
  361: 35325.63,
  362: 34614.99,
  363: 33902.63,
  364: 33188.55,
  365: 32472.74,
  366: 31755.2,
  367: 31035.93,
  368: 30314.92,
  369: 29592.17,
  370: 28867.67,
  371: 28141.42,
  372: 27413.41,
  373: 26683.64,
  374: 25952.11,
  375: 25218.81,
  376: 24483.74,
  377: 23746.89,
  378: 23008.26,
  379: 22267.85,
  380: 21525.65,
  381: 20781.66,
  382: 20035.87,
  383: 19288.28,
  384: 18538.88,
  385: 17787.67,
  386: 17034.64,
  387: 16279.79,
  388: 15523.12,
  389: 14764.62,
  390: 14004.29,
  391: 13242.12,
  392: 12478.11,
  393: 11712.25,
  394: 10944.54,
  395: 10174.97,
  396: 9403.54,
  397: 8630.25,
  398: 7855.09,
  399: 7078.06,
  400: 6299.15,
  401: 5518.36,
  402: 4735.68,
  403: 3951.11,
  404: 3164.64,
  405: 2376.27,
  406: 1586.0,
  407: 793.82},
 'Repayment': {0: 687.23,
  1: 687.23,
  2: 687.23,
  3: 687.23,
  4: 687.23,
  5: 687.23,
  6: 687.23,
  7: 687.23,
  8: 687.23,
  9: 687.23,
  10: 687.23,
  11: 687.23,
  12: 687.23,
  13: 687.23,
  14: 687.23,
  15: 687.23,
  16: 687.23,
  17: 687.23,
  18: 687.23,
  19: 687.23,
  20: 687.23,
  21: 687.23,
  22: 687.23,
  23: 687.23,
  24: 687.23,
  25: 687.23,
  26: 687.23,
  27: 687.23,
  28: 687.23,
  29: 687.23,
  30: 687.23,
  31: 687.23,
  32: 687.23,
  33: 687.23,
  34: 687.23,
  35: 687.23,
  36: 687.23,
  37: 687.23,
  38: 687.23,
  39: 687.23,
  40: 687.23,
  41: 687.23,
  42: 687.23,
  43: 687.23,
  44: 687.23,
  45: 687.23,
  46: 687.23,
  47: 687.23,
  48: 687.23,
  49: 687.23,
  50: 687.23,
  51: 687.23,
  52: 687.23,
  53: 687.23,
  54: 687.23,
  55: 687.23,
  56: 687.23,
  57: 687.23,
  58: 687.23,
  59: 687.23,
  60: 632.47,
  61: 632.47,
  62: 632.47,
  63: 632.47,
  64: 632.47,
  65: 632.47,
  66: 632.47,
  67: 632.47,
  68: 632.47,
  69: 632.47,
  70: 632.47,
  71: 632.47,
  72: 632.47,
  73: 632.47,
  74: 632.47,
  75: 632.47,
  76: 632.47,
  77: 632.47,
  78: 632.47,
  79: 632.47,
  80: 632.47,
  81: 632.47,
  82: 632.47,
  83: 632.47,
  84: 632.47,
  85: 632.47,
  86: 632.47,
  87: 632.47,
  88: 632.47,
  89: 632.47,
  90: 632.47,
  91: 632.47,
  92: 632.47,
  93: 632.47,
  94: 632.47,
  95: 632.47,
  96: 632.47,
  97: 632.47,
  98: 632.47,
  99: 632.47,
  100: 632.47,
  101: 632.47,
  102: 632.47,
  103: 632.47,
  104: 632.47,
  105: 632.47,
  106: 632.47,
  107: 632.47,
  108: 632.47,
  109: 632.47,
  110: 632.47,
  111: 632.47,
  112: 632.47,
  113: 632.47,
  114: 632.47,
  115: 632.47,
  116: 632.47,
  117: 632.47,
  118: 632.47,
  119: 632.47,
  120: 636.76,
  121: 636.76,
  122: 636.76,
  123: 636.76,
  124: 636.76,
  125: 636.76,
  126: 636.76,
  127: 636.76,
  128: 636.76,
  129: 636.76,
  130: 636.76,
  131: 636.76,
  132: 636.76,
  133: 636.76,
  134: 636.76,
  135: 636.76,
  136: 636.76,
  137: 636.76,
  138: 636.76,
  139: 636.76,
  140: 636.76,
  141: 636.76,
  142: 636.76,
  143: 636.76,
  144: 636.76,
  145: 636.76,
  146: 636.76,
  147: 636.76,
  148: 636.76,
  149: 636.76,
  150: 636.76,
  151: 636.76,
  152: 636.76,
  153: 636.76,
  154: 636.76,
  155: 636.76,
  156: 486.74,
  157: 486.74,
  158: 486.74,
  159: 486.74,
  160: 486.74,
  161: 486.74,
  162: 486.74,
  163: 486.74,
  164: 486.74,
  165: 486.74,
  166: 486.74,
  167: 486.74,
  168: 486.74,
  169: 486.74,
  170: 486.74,
  171: 486.74,
  172: 486.74,
  173: 486.74,
  174: 486.74,
  175: 486.74,
  176: 486.74,
  177: 486.74,
  178: 486.74,
  179: 486.74,
  180: 486.74,
  181: 486.74,
  182: 486.74,
  183: 486.74,
  184: 486.74,
  185: 486.74,
  186: 486.74,
  187: 486.74,
  188: 486.74,
  189: 486.74,
  190: 486.74,
  191: 486.74,
  192: 486.74,
  193: 486.74,
  194: 486.74,
  195: 486.74,
  196: 486.74,
  197: 486.74,
  198: 486.74,
  199: 486.74,
  200: 486.74,
  201: 486.74,
  202: 486.74,
  203: 486.74,
  204: 396.82,
  205: 396.82,
  206: 396.82,
  207: 396.82,
  208: 396.82,
  209: 396.82,
  210: 396.82,
  211: 396.82,
  212: 396.82,
  213: 396.82,
  214: 396.82,
  215: 396.82,
  216: 396.82,
  217: 396.82,
  218: 396.82,
  219: 396.82,
  220: 396.82,
  221: 396.82,
  222: 396.82,
  223: 396.82,
  224: 396.82,
  225: 396.82,
  226: 396.82,
  227: 396.82,
  228: 396.82,
  229: 396.82,
  230: 396.82,
  231: 396.82,
  232: 396.82,
  233: 396.82,
  234: 396.82,
  235: 396.82,
  236: 396.82,
  237: 396.82,
  238: 396.82,
  239: 396.82,
  240: 396.82,
  241: 396.82,
  242: 396.82,
  243: 396.82,
  244: 396.82,
  245: 396.82,
  246: 396.82,
  247: 396.82,
  248: 396.82,
  249: 396.82,
  250: 396.82,
  251: 396.82,
  252: 396.82,
  253: 396.82,
  254: 396.82,
  255: 396.82,
  256: 396.82,
  257: 396.82,
  258: 396.82,
  259: 396.82,
  260: 396.82,
  261: 396.82,
  262: 396.82,
  263: 396.82,
  264: 1289.53,
  265: 1289.53,
  266: 1289.53,
  267: 1289.53,
  268: 1289.53,
  269: 1289.53,
  270: 1289.53,
  271: 1289.53,
  272: 1289.53,
  273: 1289.53,
  274: 1289.53,
  275: 1289.53,
  276: 1289.53,
  277: 1289.53,
  278: 1289.53,
  279: 1289.53,
  280: 1289.53,
  281: 1289.53,
  282: 1289.53,
  283: 1289.53,
  284: 1289.53,
  285: 1289.53,
  286: 1289.53,
  287: 1289.53,
  288: 1289.53,
  289: 1289.53,
  290: 1289.53,
  291: 1289.53,
  292: 1289.53,
  293: 1289.53,
  294: 1289.53,
  295: 1289.53,
  296: 1289.53,
  297: 1289.53,
  298: 1289.53,
  299: 1289.53,
  300: 981.02,
  301: 981.02,
  302: 981.02,
  303: 981.02,
  304: 981.02,
  305: 981.02,
  306: 981.02,
  307: 981.02,
  308: 981.02,
  309: 981.02,
  310: 981.02,
  311: 981.02,
  312: 981.02,
  313: 981.02,
  314: 981.02,
  315: 981.02,
  316: 981.02,
  317: 981.02,
  318: 981.02,
  319: 981.02,
  320: 981.02,
  321: 981.02,
  322: 981.02,
  323: 981.02,
  324: 981.02,
  325: 981.02,
  326: 981.02,
  327: 981.02,
  328: 981.02,
  329: 981.02,
  330: 981.02,
  331: 981.02,
  332: 981.02,
  333: 981.02,
  334: 981.02,
  335: 981.02,
  336: 981.02,
  337: 981.02,
  338: 981.02,
  339: 981.02,
  340: 981.02,
  341: 981.02,
  342: 981.02,
  343: 981.02,
  344: 981.02,
  345: 981.02,
  346: 981.02,
  347: 981.02,
  348: 796.01,
  349: 796.01,
  350: 796.01,
  351: 796.01,
  352: 796.01,
  353: 796.01,
  354: 796.01,
  355: 796.01,
  356: 796.01,
  357: 796.01,
  358: 796.01,
  359: 796.01,
  360: 796.01,
  361: 796.01,
  362: 796.01,
  363: 796.01,
  364: 796.01,
  365: 796.01,
  366: 796.01,
  367: 796.01,
  368: 796.01,
  369: 796.01,
  370: 796.01,
  371: 796.01,
  372: 796.01,
  373: 796.01,
  374: 796.01,
  375: 796.01,
  376: 796.01,
  377: 796.01,
  378: 796.01,
  379: 796.01,
  380: 796.01,
  381: 796.01,
  382: 796.01,
  383: 796.01,
  384: 796.01,
  385: 796.01,
  386: 796.01,
  387: 796.01,
  388: 796.01,
  389: 796.01,
  390: 796.01,
  391: 796.01,
  392: 796.01,
  393: 796.01,
  394: 796.01,
  395: 796.01,
  396: 796.01,
  397: 796.01,
  398: 796.01,
  399: 796.01,
  400: 796.01,
  401: 796.01,
  402: 796.01,
  403: 796.01,
  404: 796.01,
  405: 796.01,
  406: 796.01,
  407: 796.01},
 'Interest Paid': {0: 202.93,
  1: 200.1,
  2: 197.25,
  3: 194.38,
  4: 191.5,
  5: 188.6,
  6: 185.68,
  7: 182.75,
  8: 179.8,
  9: 176.83,
  10: 173.84,
  11: 170.84,
  12: 167.82,
  13: 164.78,
  14: 161.72,
  15: 158.65,
  16: 155.56,
  17: 152.45,
  18: 149.32,
  19: 146.17,
  20: 143.01,
  21: 139.82,
  22: 136.62,
  23: 133.4,
  24: 130.16,
  25: 126.9,
  26: 123.62,
  27: 120.33,
  28: 117.01,
  29: 113.67,
  30: 110.32,
  31: 106.94,
  32: 103.55,
  33: 100.13,
  34: 96.7,
  35: 93.24,
  36: 89.77,
  37: 86.27,
  38: 82.76,
  39: 79.22,
  40: 75.67,
  41: 72.09,
  42: 68.49,
  43: 64.87,
  44: 61.23,
  45: 57.57,
  46: 53.88,
  47: 50.18,
  48: 46.45,
  49: 42.7,
  50: 38.93,
  51: 35.14,
  52: 31.33,
  53: 27.49,
  54: 23.63,
  55: 19.75,
  56: 15.84,
  57: 11.91,
  58: 7.96,
  59: 3.99,
  60: 103.78,
  61: 102.19,
  62: 100.61,
  63: 99.02,
  64: 97.42,
  65: 95.82,
  66: 94.21,
  67: 92.6,
  68: 90.99,
  69: 89.37,
  70: 87.74,
  71: 86.11,
  72: 84.48,
  73: 82.84,
  74: 81.2,
  75: 79.55,
  76: 77.89,
  77: 76.23,
  78: 74.57,
  79: 72.9,
  80: 71.23,
  81: 69.55,
  82: 67.86,
  83: 66.17,
  84: 64.48,
  85: 62.78,
  86: 61.08,
  87: 59.37,
  88: 57.65,
  89: 55.93,
  90: 54.21,
  91: 52.48,
  92: 50.74,
  93: 49.0,
  94: 47.26,
  95: 45.51,
  96: 43.75,
  97: 41.99,
  98: 40.22,
  99: 38.45,
  100: 36.67,
  101: 34.89,
  102: 33.1,
  103: 31.31,
  104: 29.51,
  105: 27.71,
  106: 25.9,
  107: 24.08,
  108: 22.26,
  109: 20.44,
  110: 18.61,
  111: 16.77,
  112: 14.93,
  113: 13.08,
  114: 11.23,
  115: 9.37,
  116: 7.51,
  117: 5.64,
  118: 3.76,
  119: 1.88,
  120: 70.2,
  121: 68.35,
  122: 66.51,
  123: 64.65,
  124: 62.79,
  125: 60.93,
  126: 59.06,
  127: 57.18,
  128: 55.3,
  129: 53.41,
  130: 51.51,
  131: 49.61,
  132: 47.7,
  133: 45.79,
  134: 43.86,
  135: 41.94,
  136: 40.0,
  137: 38.07,
  138: 36.12,
  139: 34.17,
  140: 32.21,
  141: 30.24,
  142: 28.27,
  143: 26.3,
  144: 24.31,
  145: 22.32,
  146: 20.32,
  147: 18.32,
  148: 16.31,
  149: 14.29,
  150: 12.27,
  151: 10.24,
  152: 8.21,
  153: 6.16,
  154: 4.11,
  155: 2.06,
  156: 70.2,
  157: 68.84,
  158: 67.48,
  159: 66.12,
  160: 64.75,
  161: 63.38,
  162: 62.01,
  163: 60.63,
  164: 59.24,
  165: 57.85,
  166: 56.46,
  167: 55.06,
  168: 53.66,
  169: 52.25,
  170: 50.84,
  171: 49.42,
  172: 48.0,
  173: 46.57,
  174: 45.14,
  175: 43.71,
  176: 42.27,
  177: 40.82,
  178: 39.37,
  179: 37.92,
  180: 36.46,
  181: 35.0,
  182: 33.53,
  183: 32.06,
  184: 30.58,
  185: 29.1,
  186: 27.61,
  187: 26.12,
  188: 24.62,
  189: 23.12,
  190: 21.61,
  191: 20.1,
  192: 18.58,
  193: 17.06,
  194: 15.53,
  195: 14.0,
  196: 12.47,
  197: 10.93,
  198: 9.38,
  199: 7.83,
  200: 6.27,
  201: 4.71,
  202: 3.14,
  203: 1.57,
  204: 70.2,
  205: 69.13,
  206: 68.07,
  207: 67.0,
  208: 65.93,
  209: 64.85,
  210: 63.77,
  211: 62.69,
  212: 61.61,
  213: 60.52,
  214: 59.42,
  215: 58.33,
  216: 57.23,

In [67]:
df.to_csv(r'C:\Users\vanminh1\OneDrive - Intel Corporation\Desktop\Cody\Minhne\Code Python\Data_Analysis\Exercise_Files\3 Pandas\table1.csv')